html, body, #map-canvas {
	height: 600px;
}
body
{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}
h1, h2, h3, h4, h5
{
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}